@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Lobster&family=Rubik+Doodle+Shadow&display=swap');

html{
    background-color: #4c7b9d;
    padding-bottom: 100px;
    margin: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/css/img/ciudad.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

body {
    background-color: #acdadc;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 20px 20px 300px 20px;
    
    background-image:url(/css/img/gato.png) ;
    background-repeat: no-repeat;
    background-position: 50% 140%;
    background-position: fixed;
    background-size: 5%
    position: relative;
    overflow: visible;
}



h1[lang="es"] {
    background-color: #df3448;
    color: white;
    text-align: center;
    text-align: absolute;
    margin: 0px;
    padding: 5px;
    width: 100%;
    top: 0;
    position: fixed;
    left: 0px;
}

h2 {
    color: #df3448;
    text-align: center;
}

h2 + p {
    text-align: center;    
}

p::first-letter {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

